<div id="page_wrapper">
    <div id="profile_image">
        <%= image_tag "profile.jpg"%>
    
    </div>

    <div id="content">
      <h1> It's Madara Uchiha </h1>
      <p> Prism marfa mumblecore yr blue bottle you probably haven't heard of them woke kale chips 90's aesthetic mlkshk banjo knausgaard tacos. Blue bottle humblebrag DIY keffiyeh. Vice lumbersexual fashion axe single-origin coffee, shabby chic biodiesel microdosing neutra asymmetrical listicle palo santo tofu. Pop-up pork belly blog hot chicken prism meh woke direct trade. </p>
      

    </div>

</div>

